parameters:
    ignoreErrors:

        # PHPUnit\Framework\MockObject\Rule\InvocationOrder is @internal but numberOfInvocations()
        # is the standard way to access the call count inside willReturnCallback.
        -
            identifier: method.internalClass
            paths:
                - tests/

        # @legacy SF <= 7.4
        -
            message: '#Call to function method_exists\(\) with Symfony\\Component\\Console\\Application and .addCommand. will always evaluate to true#'
